name: Build and Test

on:
  push:
    branches: [ "cpp-impl" ]
  pull_request:
    branches: [ "cpp-impl" ]

jobs:
  build:
    name: "Windows MSVC ${{ matrix.configuration }}"
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        configuration: [Debug, RelWithDebInfo, Release]
        hardening: [OFF]
        include:
          - configuration: Debug
            hardening: ON
        exclude:
          - configuration: Debug
            hardening: OFF

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Install LLVM
      run: choco install llvm --yes --no-progress

    - name: Configure CMake
      run: >
        cmake -B ${{ github.workspace }}/build
        -G "Visual Studio 17 2022"
        -DOBS_LLVM_PATH="C:/Program Files/LLVM"
        -DOBS_BUILD_TESTS=ON
        -DOBS_HARDENING=${{ matrix.hardening }}

    - name: Build
      run: cmake --build ${{ github.workspace }}/build --config ${{ matrix.configuration }}

    - name: Run test-cpp-project
      run: ${{ github.workspace }}/build/test-cpp/${{ matrix.configuration }}/test-cpp-project.exe

    - name: Run test-cpp-project-dir
      run: ${{ github.workspace }}/build/test-cpp/${{ matrix.configuration }}/test-cpp-project-dir.exe
